.section1{
    background: #d2e6f7;
    height: 80vh;
    width: 100%;
    display:flex;
    display: inline-flex;
    box-shadow: 6px 6px 2px 1px rgba(96, 128, 242, 0.2);
margin-bottom: 10px;
      
    
}

.chatbot{
   /* padding: 30px; */
   display: inline;
   font-size: 100px;
 
 }


.chatbot-heading{
   text-align: left;
   color: black;
   padding: 0%;
   margin: 0;
}
 .section1-left{
   padding: 0 0 0 150px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: left;
   align-items:left;
   width:50%;
   
}

.title{
   text-align: start;
    /* font-size: 50px; */
}
h1,h3{

    margin: 0px;
}
 .section1-right{ 
    height: 100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    animation-name: rohit;
    animation-duration: 20s;
    animation-iteration-count: 4;
    
 }  
 
 .section1-right img{

    width: 70%;
     height: 70%;
    object-fit: cover;
    border-radius: 20px; 
    animation-name: rohit;
    animation-duration: 20s;
    animation-iteration-count: 4;

 }
 @keyframes rohit {
   0%{
      top:0px;
      left:0px;
   }
   25%{
      top:100px;
      left:0px;
   }
   75%{top:250px;
      left:250px;
   }
   100%{
       top:0px;
      left:250px;

   }
   
 }
