.contact h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #38a1d2;
    text-align: center;
}


.contact h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
 
 .contact h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #265267;
    bottom: 0;
    left: calc(50% - 20px);
}
/* *, ::after, ::before {
    box-sizing: border-box;
} */


.contact p{
    padding: 20px;
    text-align: center;

}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width:80% ;
   
}


/* .map{
    width: 40%;
    height: 100%;
    padding:40px ;

} */

.form-container{
    padding: 20px;
    width: 60%;
    background: #f6f4f4;

}


.form-group label{
    display: block;
}

input[type="text"], input[type="email"] {
    margin-top: 5px;
    font-size: 1em;
    border: none;
    outline: none;
    color: #7f7a7c;
    padding: 10px;
    box-sizing: border-box;
    width: auto;
}

textarea {
    width: 80%;
    /* resize: vertical; */
}

#subject{
    width:80%;
}

button[type="submit"] {
    /* float: ; */
    width: 80%;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background: #3b97d3;
    color: white;
    font-size: .8em;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    transition: all .3s ease;
}
